{% extends "base.twig" %}

{% block main %}
    <div class="max-w-screen-lg mx-auto flex flex-wrap md:flex-no-wrap mb-5 md:mb-8">
        <h1 class="page-title">
            {% if term_page.title %}{{ term_page.title }}{% else %}{{ title }}{% endif %}</h1>
    </div>
    {% if term_page.meta('opisanie') %}
        <div class="max-w-screen-lg mx-auto py-4 md:py-8">
            <div class="text-grey-300 md:w-3/4 text-lg">{{ term_page.meta('opisanie') }}</div>
        </div>
    {% endif %}
    <div class="max-w-screen-lg mx-auto">
        {% block content %}
            <div class="flex flex-wrap justify-between -mx-4">
                {% for post in posts %}
                    <div class="flex flex-col bg-white-100 mx-4 justify-between mb-4 md:mb-0 border border-grey-200">
                        <div>
                            <a href="{{ post.link }}" title="{{ post.title }}">
                                <div class="relative">
                                    {% if post.meta('video_thumbnail').url %}
                                        <picture>
                                            <source srcset="{{ post.meta('video_thumbnail').url|resize(360,249)|towebp }}" type="image/webp">
                                            <img class="max-w-full" src="{{ post.meta('video_thumbnail').url|resize(360,249)|tojpg }}" alt="{{ post.meta('video_thumbnail').alt }}" />
                                        </picture>
                                    {% endif %}
                                    <svg class="absolute bottom-0 left-0 ml-4" style="margin-bottom: -2px;" width="23"
                                         height="15" viewBox="0 0 23
                                15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.5 0L22.3253 14.25H0.674683L11.5 0Z" fill="white"/>
                                    </svg>
                                </div>
                            </a>
                            <h2 class="p-4 uppercase font-bold cursor-pointer" data-video="{{ post.meta('video_id') }}">{{ post.title }}</h2>
                        </div>
                        <div class="px-4">
                            <div class="w-16 h-1 border-b-2 border-blue-200 mt-4"></div>
                            <div class="text-sm mt-4">{{ post.preview.length(10).read_more('') }}</div>
                        </div>
                        <div class="p-4 text-sm">{{ post.post_date|date('d.m.Y') }}</div>
                    </div>
                {% endfor %}
            </div>
            {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
        {% endblock %}

    </div>
{% endblock %}

